@import url("https://fonts.cdnfonts.com/css/br-sonoma");

* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  font: inherit;
  box-sizing: border-box;
}

:root {
  --background-main: #dad7d2;
  --background-secondary: #efefe7;
  --background-icon-text: #182525;
  --background-btn: #f95738;
  --background-second: #bdbcbb;
}

html:focus-within {
  scroll-behavior: smooth;
}

body {
  font-family: "br sonoma", Arial, Helvetica, sans-serif;
  background-color: var(--background-main);
  line-height: 1.5;
}

h1,
h2 {
  font-size: 2.5rem;
  font-weight: 400;
  line-height: 2.5rem;
}

h3 {
  font-size: 2rem;
  font-weight: 400;
  line-height: 2rem;
}

h4 {
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 1.5rem;
}

p {
  font-size: 1rem;
  line-height: 1.5rem;
}

.btn__primary {
  color: var(--background-icon-text);
  background-color: var(--background-btn);
  border: solid var(--background-btn);
  font-size: 1.1rem;
  border-radius: 3rem;
  width: 100%;
  height: 3em;
  cursor: pointer;
  transition: all 0.1s;
}

.btn__primary:hover {
  background-color: rgb(249, 99, 70);
  border: solid solid transparent;
}

.btn__primary:active {
  color: rgb(92, 92, 92);
  background-color: rgb(250, 134, 110);
  border: solid transparent;
  transition: all 0.2s;
}

.btn__secondary {
  color: var(--background-main);
  background-color: var(--background-icon-text);
  border: solid var(--background-icon-text);
  font-size: 1.1rem;
  border-radius: 3rem;
  width: 100%;
  height: 3em;
  cursor: pointer;
  transition: all 0.2s;
}

.btn__secondary:hover {
  color: var(--background-main);
  background-color: rgb(33, 50, 50);
  border: solid var(--background-icon-text);
}

.btn__secondary:active {
  color: rgb(175, 175, 175);
  background-color: rgb(68, 68, 68);
  border: solid transparent;
  transition: all 0.1s;
}

/* NAV - HEADER */

header nav {
  position: fixed;
  top: 0px;
  min-height: 75px;
  width: 100%;
  background-color: var(--background-main);
  display: flex;
  justify-content: space-between;
}

.logo__container {
  display: flex;
  align-items: center;
  width: auto;
  margin: 0;
}

.logo {
  margin-left: 1.5rem;
}

.nav__list {
  z-index: 1;
  position: fixed;
  width: 100%;
  height: 0vh;
  top: 75px;
  background-color: var(--background-secondary);
  float: right;
  text-align: center;
  transition: all 0.5s;
}

.nav__list li {
  opacity: 0;
  line-height: 30px;
  margin: 50px 0;
  transition: all 0.5s;
}

.nav__link {
  color: var(--background-icon-text);
  font-size: 20px;
  transition: all 0.1s;
}

.nav__link:hover {
  text-decoration: underline;
}

.nav__link:active {
  color: var(--background-secondary);
}

.nav__link--active {
  text-decoration: underline;
}

.nav__link--cta {
  color: var(--background-icon-text);
  border: solid var(--background-icon-text);
  background-color: transparent;
  border-radius: 2rem;
  padding: 0.4rem 1.5rem;
  transition: all 0.3s;
}

.nav__link--cta:hover {
  color: var(--background-main);
  background-color: var(--background-icon-text);
  border: solid var(--background-icon-text);
  text-decoration: none;
}

.nav__link--cta:active {
  color: rgb(183, 183, 183);
  background-color: rgb(68, 68, 68);
  border: solid transparent;
  transition: all 0.1s;
}

.hamburger__btn {
  display: block;
  font-size: 30px;
  color: black;
  float: right;
  line-height: 75px;
  margin-right: 2.5rem;
  cursor: pointer;
}

#check {
  display: none;
}

#check:checked ~ .nav__list {
  height: 80vh;
  box-shadow: 0 150px 150px -2px rgba(0, 0, 0, 0.5);
  background-blend-mode: luminosity;
  border-radius: 0 0 4rem 4rem;
}

#check:checked ~ .nav__list li {
  opacity: 1;
}

/* MAIN */

main {
  margin-top: 100px;
}

.wrapper {
  margin: 0 auto;
  max-width: 150em;
  padding: 0 1em;
}

.grid {
  margin: 1.5rem 0 4rem 0;
  padding: 0 2em;
}

/* Hero */

.article__hero {
  background-color: var(--background-second);
  background-image: url("./assets/img/08-night.jpg");
  background-size: cover;
  padding-bottom: 100px;
  border-radius: 2.5rem;
  min-height: 400px;
  display: flex;
  align-items: start;
  justify-content: start;
}

.article__hero__txt__container {
  color: white;
  background-color: rgba(32, 32, 32, 0.5);
  padding: 2rem;
  border-radius: 2.5rem;
}

.article__hero__txt__container h1 {
  margin-bottom: 1.2rem;
}

/* Slider */

.slider__wrapper {
  background: var(--background-second);
}

.slider__title {
  padding: 5rem 3rem 0;
}

.slider {
  margin: auto;
  overflow: auto;
  display: flex;
  scroll-snap-type: x mandatory;
  scroll-padding: 0 24px;
}

.slider__card {
  width: 90%;
  object-fit: cover;
  border-radius: 3.5rem;
  min-height: fit-content;
  background: var(--background-secondary);
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  flex-shrink: 0;
  scroll-snap-align: start;
  margin: 3rem 0.5rem;
}

.card__img {
  background-image: url("./assets/img/09-day.jpg");
  background-size: cover;
  box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset,
    rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  min-height: 350px;
  object-fit: cover;
  border-radius: 3.5rem;
  padding: 2rem;
  margin-bottom: 1.5rem;
  display: flex;
  align-items: end;
  justify-content: center;
}

.slider__card:nth-child(2) .card__img {
  background-image: url("./assets/img/08-day.jpg");
}

.slider__card:nth-child(3) .card__img {
  background-image: url("./assets/img/03-day.jpg");
}

.slider__card:nth-child(4) .card__img {
  background-image: url("./assets/img/04-day.jpg");
}

.slider__card:nth-child(5) .card__img {
  background-image: url("./assets/img/05-day.jpg");
}

.slider__card:nth-child(6) .card__img {
  background-image: url("./assets/img/06-day.jpg");
}

.card__img__overlay-txt {
  border-radius: 30px;
  text-align: center;
  color: white;
  background-color: rgba(8, 8, 8, 0.7);
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  padding: 0.8rem 1.3rem;
  font-weight: 300;
}

.card__info__grid {
  padding: 2rem;
}

.card__info__grid h3 {
  font-size: 2.2rem;
  margin-bottom: 2rem;
}

.card__price {
  font-size: 2rem;
  font-weight: 300;
}

.card__rating {
  display: flex;
  align-items: center;
  background-color: var(--background-second);
  border-radius: 2rem;
  padding: 0.6rem 1.1rem;
}

.card__rating h4 {
  font-size: 1.9rem;
  margin-left: 0.4rem;
}

.card__info__grid .card__price-rating__flexbox {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2rem;
}

.btn__contaner__slider {
  display: grid;
  padding: 0 3rem;
}

.btn__contaner__slider .btn__primary {
  margin: auto;
  margin-bottom: 5rem;
}

/* About us section */

.article__about-us {
  background-color: #182525;
  background-image: url("./assets/img/03-night.jpg");
  background-size: cover;
  padding-bottom: 100px;
  border-radius: 2.5rem;
  min-height: 350px;
  display: flex;
  align-items: start;
  justify-content: start;
}

.article__about-us__txt__container {
  color: white;
  background-color: rgba(32, 32, 32, 0.5);
  padding: 2rem;
  border-radius: 2.5rem;
}

.article__about-us__txt__container h1 {
  margin-bottom: 0.6rem;
}

/* Ratings grid */

.ratings__grid {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--background-icon-text);
  border-radius: 3.5rem;
}

.ratings__block {
  color: var(--background-main);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 5rem 0;
}

.ratings__avatar {
  border-radius: 50%;
  max-width: 7em;
}

.ratings__block h3 {
  font-size: 2rem;
  font-weight: 400;
  margin: 0.5rem 0;
}

.ratings__block h4 {
  font-size: 2.2rem;
  font-weight: 300;
  margin: 0.2rem 0;
}

.ratings__rating {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.5rem 0;
}

.ratings__rating h4 {
  margin-right: 0.5rem;
  font-weight: 400;
}

/* FOOTER */

.footer__nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 4rem;
}

.footer__nav__list li {
  padding: 1rem;
}

.footer__top-btn {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
}

/* TABLET BREAKPOINT */

@media only screen and (min-width: 700px) {
  h1,
  h2 {
    font-size: 4rem;
    line-height: 4rem;
  }

  h3 {
    font-size: 2.5rem;
    font-weight: 400;
    line-height: 2.5rem;
  }

  h4 {
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.8rem;
  }

  p {
    font-size: 1.2rem;
    line-height: 1.5rem;
  }

  .btn__primary,
  .btn__secondary {
    font-size: 1.4rem;
    height: 65px;
    max-width: 300px;
    margin: 1rem 0;
  }

/* main tablet breakpoint */

  main {
    margin-top: 120px;
  }

  .wrapper {
    max-width: 1720px;
  }

  .article__hero,
  .article__about-us {
    min-height: 500px;
  }

  .article__hero__txt__container,
  .article__about-us__txt__container h1 {
    margin-bottom: 2rem;
  }

  .slider .slider__card {
    width: 66%;
  }

  .card__img {
    min-height: 400px;
    margin-bottom: 2rem;
  }

  .card__info__grid {
    padding: 2rem 3rem;
  }

  .bookings-page__wrapper {
    border-radius: 0 0 0 3.5rem;
  }
}

/* DESKTOP BREAKPOINT */

@media only screen and (min-width: 1150px) {
  h1,
  h2 {
    font-size: 6rem;
    line-height: 6rem;
  }

  h3 {
    font-size: 3.5rem;
    font-weight: 400;
    line-height: 2.5rem;
  }

  h4 {
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.8rem;
  }

  p {
    font-size: 1.2rem;
    line-height: 1.5rem;
  }

  header nav {
    display: flex;
    align-items: center;
    height: 100px;
  }

  .logo {
    margin-left: 3em;
    width: 130px;
  }

  .hamburger__btn {
    display: none;
  }

  .nav__list {
    top: 0;
    display: flex;
    justify-content: flex-end;
    transition: none;
  }

  .nav__list li {
    opacity: 1;
    line-height: 100px;
    margin: 0 1.5rem;
    transition: none;
  }

  .nav__link--cta {
    margin: 0 1em;
  }

  /* main desktop breakpoint */

  .btn__primary,
  .btn__secondary {
    font-size: 1.4rem;
    height: 65px;
    max-width: 350px;
  }

  main {
    margin-top: 130px;
  }

  .wrapper {
    max-width: 1820px;
  }

  .article__hero,
  .article__about-us {
    min-height: 900px;
  }

  .slider .slider__card {
    width: 45%;
    border-radius: 4.5rem;
    margin: 4rem 0.5rem;
  }

  .card__img {
    min-height: 450px;
    border-radius: 4.5rem;
  }

  .slider__wrapper {
    width: 98%;
    max-width: 1790px;
    margin: auto;
    border-radius: 3rem;

  }

  .card__info__grid {
    padding: 2rem 3rem;
  }

  .ratings__grid {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: var(--background-icon-text);
    border-radius: 3.5rem;
  }

  .ratings__block {
    padding: 0 7rem;
  }

  .footer__nav__list {
    display: flex;
    padding: 2rem;
  }

  .footer__nav__link {
    margin: 1rem;
  }

  .footer__top-btn .fa-xl {
    vertical-align: middle;
    margin-left: 1rem;
  }
}

/* BOOKING.HTML */

/* image slider section */

.bookings__slider__wrapper {
  width: 100%;
  position: absolute;
  z-index: -1;
}

.bookings__slider {
  margin: auto;
  overflow: auto;
  display: flex;
  scroll-snap-type: x mandatory;
  scroll-padding: 0 24px;
  height: 100vh;
  height: 100dvh;
}

.bookings__slider__img {
  object-fit: cover;
  width: 80%;
  scroll-snap-align: start;
  min-height: fit-content;
  background-image: url("./assets/img/09-day.jpg");
  background-size: cover;
  object-fit: cover;
  padding: 2rem;
  display: flex;
  align-items: end;
  justify-content: center;
  flex-shrink: 0;
}

.bookings__slider:nth-child(2) .bookings__slider__img {
  background-image: url("./assets/img/08-day.jpg");
}

.bookings__slider:nth-child(3) .bookings__slider__img {
  background-image: url("./assets/img/03-day.jpg");
}

.bookings__slider:nth-child(4) .bookings__slider__img {
  background-image: url("./assets/img/04-day.jpg");
}

.bookings__slider:nth-child(5) .bookings__slider__img {
  background-image: url("./assets/img/05-day.jpg");
}

.bookings__slider:nth-child(6) .bookings__slider__img {
  background-image: url("./assets/img/06-day.jpg");
}

/* booking form section */

.bookings-page__wrapper {
  display: flex;
  float: right;
  z-index: 999;
  background-color: var(--background-main);
  box-shadow: rgba(255, 255, 255, 0.7) 0px 1px 1px 0px inset,
    rgba(50, 50, 93, 0.5) 0px 50px 100px 20px,
    rgba(0, 0, 0, 0.6) 0px 30px 60px -30px;
}

.bookings__grid {
  max-width: 600px;
  display: grid;
  gap: 0.5rem;
  grid-template-columns: repeat(4, 1fr);
  padding: 2rem;
}

.bookings__grid__item {
  display: grid;
  gap: 0.5rem;
}

.bookings__grid__item--full-width {
  grid-column: 1 / -1;
}

.grid__item0 {
  grid-area: 1 / 1 / 1 / 2;
  border: solid white;
  border-radius: 4rem;
  padding: 0.5rem;
}

.grid__item1 {
  grid-area: 2 / 1 / 2 / 4;
  margin: 1rem 0 2rem;
}

.grid__item2 {
  grid-area: 3 / 1 / 3 / 4;
}

.grid__item3 {
  grid-area: 3 / 4 / 3 / 5;
}

.grid__item4 {
  grid-area: 4 / 1 / 4 / 3;
  margin-top: 0.5rem;
}

.grid__item5 {
  grid-area: 4 / 3 / 4 / 5;
  margin-top: 0.5rem;
}

.grid__item6 {
  grid-area: 5 / 1 / 5 / 4;
  margin-top: 2rem;
}

.grid__item7 {
  margin-top: 3rem;
}

.grid__item9 {
  grid-area: 8 / 1 / 8 / 3;
  margin-top: 2rem;
}

.grid__item10 {
  grid-area: 8 / 3 / 8 / -1;
  margin-top: 2rem;
}

.bookings__tilte {
  font-size: 2rem;
  line-height: 2rem;
}

.square-meter__flexbox {
  display: flex;
  align-items: center;
  justify-content: end;
}

.square-meter__flexbox p {
  margin-left: 0.5rem;
}

.location__flexbox {
  display: flex;
  align-items: center;
}

.location__flexbox p {
  margin-left: 0.5rem;
}

.bookings__rating__flexbox {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.bookings__rating__flexbox p {
  margin-left: 0.5rem;
}

.bookings__icons__flexbox {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 0.2rem;
}

#houses,
#date {
  padding: 1rem;
  border-radius: 1rem;
  border: none;
  font-size: 1.1rem;
}

.checkout-days {
  background-color: var(--background-second);
  border-radius: 5rem;
  padding: 1rem;
  text-align: center;
}

.checkout-time__flexbox {
  display: flex;
  align-items: center;
  justify-content: end;
}

.checkout-time__flexbox p {
  margin-left: 0.5rem;
}

.bookings__btn__box {
  margin: 4.5rem 0 3rem;
}

.bookings__btn {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 5rem;
  background-color: var(--background-btn);
  border: none;
  padding: 0.4rem;
}

.bookings__btn .btn__price {
  background-color: var(--background-second);
  border-radius: 3rem;
  padding: 1rem;
  font-size: 1.1rem;
  font-weight: 300;
}

.bookings__btn .btn__txt {
  padding: 0 2rem 0 1rem;
  font-size: 1.1rem;
  text-align: center;
}
